.cooperation {
  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    .slider_card {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 0;
        max-width: 150px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .cooperation {
    .container {
      padding-bottom: 90px;
    }
  }
}
