.seo p {
  margin-bottom: 20px;
}

.seo h1 {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #284e79;
}

footer {
  background: #2b79ae;
  padding-top: 50px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper nav {
  padding: 0;
}
.wrapper nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.wrapper nav ul li a {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.wrapper .catalog ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
  row-gap: 30px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.wrapper .catalog ul li {
  max-width: 320px;
}
.wrapper .catalog ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

.wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrapper .info .logo {
  width: 180px;
}

.info_block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 300px;
}
.info_block p {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.info_block span {
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: #fff;
}
.info_block span a {
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
}

.info_block.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.info_block.social .phone_number {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info_block.social .phone_number a {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.info_block.social .phone_number p {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.info_block.social .social_links {
  display: flex;
}

.catalog_mobile {
  display: none;
}

@media (max-width: 1200px) {
  .catalog_mobile {
    display: block;
  }
  .wrapper {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
  }
  .wrapper nav {
    padding: 0;
  }
  .wrapper nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 25px;
    max-height: 160px;
    flex-wrap: wrap;
  }
  .wrapper nav ul li a {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
  .wrapper nav ul li {
    width: -moz-fit-content;
    width: fit-content;
  }
  .wrapper .catalog {
    display: none;
  }
  .wrapper .info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .wrapper .info .logo {
    width: 180px;
  }
  .info_block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
  }
  .info_block p {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
  }
  .info_block span {
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    color: #fff;
  }
  .info_block span a {
    font-weight: 600;
    font-size: 15px;
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: #fff;
  }
  .info_block.social {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .info_block.social .phone_number {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .info_block.social .phone_number a {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
  .info_block.social .phone_number p {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
  .info_block.social .social_links {
    display: flex;
  }
}/*# sourceMappingURL=footer.css.map */