header {
  display: flex;
  flex-direction: column;
}
.header__top {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.headerfooter_nav {
  padding: 16px 0px;
  ul {
    display: flex;
    gap: 38px;

    li a {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      color: #20304a;
    }
  }
}
.mail a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  color: #2b79ae;
}

.header__bottom {
  box-shadow: 0 0 40px 0 rgba(67, 108, 136, 0.2);
  background: #fff;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background: #2b79ae;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 15px 35px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.search {
  width: 542px;
  max-width: 542px;
  input {
    background: #eff1f4;
    border-radius: 500px;
    font-weight: 500;
    font-size: 14px;
    color: #20304a;
    padding: 14px 22px;
    width: 100%;
  }
}
.social_links {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  a {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
.phone_number {
  display: flex;
  flex-direction: column;
  width: 171px;
  a {
    font-weight: 600;
    font-size: 18px;
    color: #20304a;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    color: rgba(32, 48, 74, 0.5);
  }
}
.mobile_menu_icon {
  display: none;
}
.mobile_menu {
  display: none;
}
@media (max-width: 1450px) {
  .search {
    flex-basis: calc(33%);
  }
}
@media (max-width: 1200px) {
  .phone_number {
    display: none;
  }
  .search {
    display: none;
  }
  button {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .header__bottom .container {
    gap: 15px;
  }
}

@media (max-width: 900px) {
  .header__top {
    display: none;
  }
  .mobile_menu_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 26px;
    height: 26px;
    .menu_btn:nth-child(2) {
      display: none;
    }
  }
  .mobile_menu_icon.active {
    .menu_btn:nth-child(2) {
      display: block;
    }
    .menu_btn:first-child {
      display: none;
    }
  }
  .mobile_menu.active {
    display: block;
    height: calc(100vh - 91px);
    background: #fff;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      overflow-y: scroll;
    }
    .search {
      display: block;
      width: 100%;
      max-width: none;
      margin-bottom: 20px;
      input {
        padding: 18px 22px;
      }
    }
    button {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      a {
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }
    .headerfooter_nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;

        li a {
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
    .mobile_menu__bottom {
      .phone_number {
        display: block;
      }
      .feedback {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .mail {
        margin-bottom: 3vh;
      }
    }
  }
}
