.main__slider {
  padding-top: 45px;
  margin-bottom: 85px;
}

.swiper {
  border-radius: 1000px;
  max-width: 1420px;
  height: 298px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  background: rgba(32, 48, 74, 0.5);
  border-radius: 100%;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 15px;
  height: 15px;
}
.swiper-button-next svg path,
.swiper-button-prev svg path {
  fill: white;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #fff;
}
.swiper-button-next:hover svg,
.swiper-button-prev:hover svg {
  width: 15px;
  height: 15px;
}
.swiper-button-next:hover svg path,
.swiper-button-prev:hover svg path {
  fill: #2b79ae;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: none;
}

.swiper-slide {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 80px 130px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}
.swiper-slide .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}
.swiper-slide .info p {
  font-weight: 600;
  font-size: 22px;
  line-height: 145%;
  color: #fff;
}
.swiper-slide .info span {
  font-weight: 500;
  font-size: 15px;
  line-height: 147%;
  color: #fff;
}
.swiper-slide .info button {
  border-radius: 50px;
  background: #6ebade;
  width: -moz-fit-content;
  width: fit-content;
}
.swiper-slide .info button a {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 13px 30px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 30px);
  left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 30px);
  right: auto;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255) !important;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
}

.mobile_slide {
  display: none;
}

@media (max-width: 1450px) {
  .swiper-slide {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 80px 100px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }
  .swiper-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  .swiper-slide .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 30vw;
  }
}
@media (max-width: 900px) {
  .swiper {
    display: none;
  }
  .mobile_slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_slide .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 1000px;
    height: 203px;
    width: 100%;
  }
  .mobile_slide .swiper-slide img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  .mobile_slide .swiper-slide .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 500px;
  }
  .mobile_slide .swiper-slide .info p {
    font-size: 17px;
    text-align: center;
  }
  .mobile_slide .swiper-slide .info span {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  .mobile_slide .swiper-slide .info button {
    border-radius: 50px;
    background: #6ebade;
    display: block;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .mobile_slide .swiper-slide .info button a {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 13px 30px;
  }
}/*# sourceMappingURL=main_slider.css.map */