.about_us .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.about_us .info {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  justify-content: center;
}
.about_us .info h1 {
  font-weight: 600;
  font-size: 40px;
  color: #284e79;
  margin-bottom: 25px;
}
.about_us .container img {
  width: 713px;
  height: 388px;
}
.about_us .info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #284e79;
  margin-bottom: 25px;
}
.about_us .info a {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2b79ae;
}
.about_us .info p:last-child {
  margin-bottom: 15px;
}

@media (max-width: 1400px) {
  .about_us .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  .about_us .container img {
    max-width: 600px;
    height: 100%;
    width: 100%;
  }
  .about_us .info {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    justify-content: center;
  }
  .about_us .info h1 {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .about_us .info p {
    font-size: 15px;
    line-height: 147%;
  }
  .about_us .info p:last-child {
    margin-bottom: 20px;
  }
}

.other .container {
  display: flex;
  justify-content: space-between;
}
.other .block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 180px;
  align-items: center;
}
.other .block img {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.other .block a {
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #284e79;
  text-align: center;
  max-width: 180px;
}

@media (max-width: 1200px) {
  .other .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .other .block {
    flex-basis: calc(33.33% - 20px);

    max-width: none;
  }
}
@media (max-width: 800px) {
  .other .container {
    justify-content: space-between;
  }
  .other .block {
    flex-basis: calc(50% - 20px);
  }
  .other .block img {
    width: 90px;
  }
}

.subscribe {
  margin-bottom: 100px;
}
.subscribe .container .wrapper {
  max-height: 400px;
  background-image: url("../images/bg-mail.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 60px;
  border-radius: 1000px;
}
.subscribe .container .text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe .container .text h1 {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  max-width: 760px;
  align-self: start;
}
.subscribe .container .text .form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.subscribe .container .text .form input {
  background: #fff;
  border-radius: 50px;
  max-width: 447px;
  margin-bottom: 14px;
  padding: 18px 24px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #284e79;
}
.subscribe .container .text .form p {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.5);
}
.subscribe .container .text .form p a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #fff;
}
.subscribe .container .text button {
  align-self: start;
  border-radius: 50px;
  background: #6ebade;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 19px 45px;
}

@media (max-width: 1200px) {
  .subscribe .container .text button {
    display: block;
    align-self: center;
  }
  .subscribe {
    margin-bottom: 70px;
  }
  .subscribe .container .wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 59px 37px;
    border-radius: 1150px;
  }
  .subscribe .container .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .subscribe .container .text h1 {
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    color: #fff;
    text-align: center;
    align-self: center;
  }
  .subscribe .container .text .form {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .subscribe .container .text .form input {
    width: 100%;
    background: #fff;
    border-radius: 50px;
    max-width: 447px;
    margin-bottom: 14px;
    padding: 18px 24px;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: #284e79;
  }
  .subscribe .container .text .form p {
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.5);
    max-width: 300px;
    text-align: center;
  }
  .subscribe .container .text .form p a {
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #fff;
  }
}
